
li{
  list-style-type: none;
     margin: 0 2vw;
     float: left;
     margin: 0 0 0 50px;
     font-weight: bold;
  
}

nav{
    position: absolute;
    right: 0;
    top: 0;
    padding: 100px;
  
}

a {
    text-decoration: none;
    font-family: monospace;
    color: black;
}

a.wakashi {
      position: relative;
    display: block;
    width: 100px;
    z-index: 100;
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
}

img{
 width: 50px;
    padding: 70px 100px;
    transition: 1s ease;
    opacity: 0.6;
  
}
h1 {
    font-size: 3em;
    
}
p {
    
}

footer {
    
}
