
li{
  list-style-type: none;
     margin: 0 2vw;
  
}
.nav li {
    display: inline-block;
    margin-right: -4px;
  }

a {
    text-decoration: none;
    font-family: monospace;
    color: black;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    
}
p {
    
}

footer {
    
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
